.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.index_head {
    height: 48px;
    width: 100%;
    border-top: solid 2px #fa7d3c;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    z-index: 100
}

.index_text {
    width: 100%;
    margin-top: 50px;
    background: url("/Static/img/body_bg.jpg") no-repeat top center;
    height: 910px;
}

.index_head .logo_img {
    margin-left: 50px;
    background: url("http://img.t.sinajs.cn/t6/style/images/global_nav/WB_logo.png?id=1404211047727") no-repeat 15px 40%;
    height: 48px;
    width: 140px;
    display: block;
    cursor: pointer;
    float: left;
}

.index_head .index_seek {
    width: 468px;
    border: solid 1px #ccc;
    float: left;
    position: relative;
    height: 29px;
    margin: 9px 0 0 0;
    background-color: #f1f1f1;
}

.index_head .index_seek * {
    position: absolute;
    top: 0;
    left: 0;
    width: 245px;
    padding: 4px 33px 4px 10px;
    height: 20px;
    line-height: 20px;
    box-shadow: none;
    border: none;
    background-color: transparent;
    color: #808080;
    outline-style: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.index_head .index_seek a {
    position: absolute;
    top: 6px;
    left: 65%;
}

.index_head .Navigation {
    float: right;
    position: absolute;
    right: 50px;
    line-height: 48px;
    display: inline-flex;
    list-style: none;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.index_head .Navigation a {
    text-decoration: none;
    color: #4B4B4B;
}

.index_head .Navigation a:hover {
    color: #F97C39;
}

.index_head .title_interval {
    margin-right: 50px;
}

.index_head .Seek_img {
    width: 18px;
    height: 23px;
    padding: 0;
    cursor: pointer;
    background: url("/Static/img/icon_out.png") -55px -172px;
    left: 443px !important;
}

.index_head .Seek_img:hover {
    background: url("/Static/img/icon_out.png") -85px -172px;
}

.index_head .Home_img {
    background: url("/Static/img/icon_out.png") -48px 0;
    display: inline-block;
    position: absolute;
    left: 14px;
    height: 22px;
    width: 27px;
    top: 12px;
}

.index_head .title_interval:hover .Home_img {
    background: url("/Static/img/icon_out.png") -78px -0px;
}

.index_head .Video_img {
    background: url("/Static/img/icon_out.png") -48px 24px;
    display: inline-block;
    position: absolute;
    left: 89px;
    height: 22px;
    width: 27px;
    top: 12px;
}

.index_head .title_interval:hover .Video_img {
    background: url("/Static/img/icon_out.png") -78px -301px;
}

.index_head .Find_img {
    background: url("/Static/img/icon_out.png") -48px -25px;
    display: inline-block;
    position: absolute;
    left: 171px;
    height: 22px;
    width: 27px;
    top: 12px;
}

.index_head .title_interval:hover .Find_img {
    background: url("/Static/img/icon_out.png") -78px -25px;
}

.index_head .Game_img {
    background: url("/Static/img/icon_out.png") -48px -50px;
    display: inline-block;
    position: absolute;
    left: 248px;
    height: 22px;
    width: 27px;
    top: 12px;
}

.index_head .title_interval:hover .Game_img {
    background: url("/Static/img/icon_out.png") -78px -50px;
}

.index_head .Login_Regist {
    font-weight: normal;
}

.index_head .Login_Regist span:hover {
    color: #F97C39;
}

.bottom_tools {
    position: fixed;
    z-index: 1070;
    right: 50px;
    bottom: 60px;
    display: block;
    width: 55px;
    height: 55px;
}

.bottom_tools a {
    display: none;
    width: 40px;
    height: 40px;
    background: url('/Static/img/top.jpg') no-repeat left top;
}

body {
    background: url(/Static/img/body_bg_v6.jpg);
    position: absolute;
    width: 100%;
    top: -8px;
    z-index: 9;
    margin: 0;
}

.search_login_logo {
    position: absolute;
    margin: 11% 40%;
}

.search_input_no_login {
    float: left;
    position: relative;
    display: inline-block;
    width: 540px;
    height: 36px;
    margin: 22% 23%;
    font-size: 20px;
    font-family: 宋体;
    z-index: 6
}

.search_a_no_login {
    float: left;
    position: absolute;
    /*display: inline;*/
    margin: 20% 24%;
    z-index: 6;
}

.search_a_no_login1 {

    text-decoration: none;
    font-family: "微软雅黑 Light";
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
}

.search_no_login_butten {
    /*top:149px;*/
    right: 23%;
    position: absolute;
    /*display: block;*/
    width: 100px;
    /*height: 36px;*/
    line-height: 36px;
    text-align: center;
    /*outline: none;*/
    background: #2f8ed8;
    /*border-radius: 2px;*/
    color: #fefefe;
    font-size: 20px;
    margin: 287px 3%;
    text-decoration: none;
    z-index: 6;
}

.search_foot_no_login {
    color: #666;
    float: left;
    margin: 4px 333px;
    font: 12px/1.125 Arial, Helvetica, sans-serif;
    position: relative;
}

.search_p {
    margin: 1px 2px;
}

.ico_service {
    background: url("/Static/img/ico_expand.png") no-repeat 0 -40px;
    padding: 2px 0 2px 20px;
}

.search_foot_no_login a {
    text-decoration: none;
    color: #666;
    margin-left: 14px;
}
