
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1474967729'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1474967729#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1474967729') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1474967729') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1474967729#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-biaoqing:before { content: "\e60b"; }
.icon-huati:before { content: "\e60c"; }
.icon-tupian:before { content: "\e60d"; }
.icon-icon5:before { content: "\e600"; }
.icon-jieping:before { content: "\e613"; }
.icon-faxian:before { content: "\e617"; }
.icon-groupcopy5:before { content: "\e60e"; }
.icon-lightning:before { content: "\e610"; }
.icon-qiu:before { content: "\e601"; }
.icon-meizhuang:before { content: "\e602"; }
.icon-xingxing:before { content: "\e603"; }
.icon-gamebar:before { content: "\e618"; }
.icon-gaoxiaooff:before { content: "\e604"; }
.icon-zanzan-copy:before { content: "\e60f"; }
.icon-pintu:before { content: "\e614"; }
.icon-meishi:before { content: "\e605"; }
.icon-zongyi-copy:before { content: "\e606"; }
.icon-shudao:before { content: "\e60a"; }
.icon-fangzi:before { content: "\e607"; }
.icon-shipin:before { content: "\e608"; }
.icon-icontianjiatupian:before { content: "\e615"; }
.icon-icon434:before { content: "\e612"; }
.icon-diandiandian:before { content: "\e609"; }
.icon-shangchuan:before { content: "\e616"; }
.icon-zhuanfa-copy:before { content: "\e611"; }
