body{
    margin: 0;
    font: 12px/1.3 'Arial','Microsoft YaHei';
}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1474970547_1456208.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1474970547_1456208.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1474970547_1456208.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1474970547_1456208.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1474970547_1456208.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont";
    font-size:20px;
    font-style:normal;
}
.iconfont_info{
    font-family:"iconfont";
    font-size:15px;
    font-style:normal;
}
.iconfont_head{
    font-family: "iconfont";
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}
.iconfont_weibo{
    font-family:"iconfont";
    font-size:18px;
    font-style:normal;
}
.iconfont_picter{
    font-family:"iconfont";
    font-size:25px;
    font-style:normal;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.index_head{
    height: 48px;
    width: 100%;
    border-top: solid 2px #fa7d3c;
    background-color: rgba(255, 255, 255, 0.94);
    position: fixed;
    top: 0;
    z-index: 10;
}

.S_bg2_br{
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    border-width: 7px;
    border-style: solid;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    border-color: transparent transparent #fff transparent;
    top: -14px;
    left: 14px;
}
.face_wb{
    position: absolute;
    overflow: hidden;
    display: block;
}
.option_wb{
    margin-left: 2px;
    margin-right: 10px;
}





.picter_triangle{
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    border-width: 7px;
    border-style: solid;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    border-color: transparent transparent #fff transparent;
    top: -14px;
    left: 14px;
}
.index_text{
    width: 100%;
    margin-top: 50px;
    background: url("/Static/img/body_bg_page.jpg") #B4DAEF no-repeat ;
}
.Content_input_right_top_all_SLQ{
    float: left;
    border-radius: 3px;
    background-color: red;
    width: 230px;
    height: 179px;
    margin: 15px 0 0 10px;
}
.Content_input_right_top{
    height: 75px;
    float: right;
    width: 212px;
    background-image: url(/Static/img/068_s.jpg);
    /* display: block; */
    margin: -599px 152px;
    /* margin-bottom: 32px; */
}
.Content_input_right_top2{
    height: 109px;
    float: right;
    width: 212px;
    background-color:#FFF;
    /* display: block; */
    margin: -524px 152px;
    /* margin-bottom: 32px; */
    z-index:20;
}
.Content_center_right_top_img{
    height: 60px;
    float: right;
    width: 60px;
    margin: -554px 226px;
    /*background-image: url(/Static/img/0060U3qijw8f48w5350d9j30to0tpta1.jpg);*/
    border-radius: 50%;
    background-position: center center;
    background-repeat: round;
}
.hide{
    display: none;
}
.Content_center_vip_lv_name{
    margin: -490px 189px;
    list-style: none;
    float: right;
    display: inline-flex;
    /* display: inline-block; */
    overflow: hidden;
    font-size: 14px;
    position: relative;
}
.Content_center_right_name {

    float: right;
    display: inline-flex;
    /* display: inline-block; */
    overflow: hidden;
    font-size: 14px;
    position: relative;
    font-weight: bold;
}
.Content_center_right_vip{
    background: url(/Static/img/icon_out.png);
    /* position: absolute; */
    width: 17px;
    display: inline-block;
    height: 16px;
    background-position: 152px 126px;
    /* margin: 31px 54px; */
    z-index: 21;
    border: 0;
}
/*.Content_center_right_lv{*/
    /*background-color: #fe7e00;*/
    /*!* position: absolute; *!*/
    /*!*width: 33px;*!*/
    /*display: inline-block;*/
    /*!*height: 16px;*!*/
    /*!* background-position: 178px 134px; *!*/
    /*!* margin: 14px 54px; *!*/
    /*z-index: 21;*/
    /*border: 0;*/
    /*color:#fff;*/
    /*!*padding: 0 5px 1px 5px;*!*/
    /*border-radius: 50px;*/
/*}*/

.Content_center_guanzhu{
    list-style: none;
    display: inline;
    margin: -464px 292px;
    float: right;
    border-right: 1px #d9d9d9 solid;
    width: 28px
}
.Content_center_guanzhu_num{
    display: block;
    font-weight: bold;
    line-height: 18px;
    width: 64px;
    overflow: hidden;
    font-size: 18px;
    margin: 0 -16px;
     color: #292a39;
}
.Content_center_guanzhu_hanzi{
    color: #808080;
    margin: 0px -12px;
    display: block;
}
.Content_center_fans{
    list-style: none;
    display: inline;
    margin: -463px 243px;
    float: right;
    border-right: 1px #d9d9d9 solid;
    width: 30px;
}
.Content_center_fans_num{
    display: block;
    font-weight: bold;
    line-height: 18px;
    width: 65px;
    margin:0 auto;
    overflow: hidden;
    font-size: 18px;
    color: #393929;
}
.Content_center_fans_hanzi{
    color: #808080;
    margin: 0 -5px;
}
.Content_center_weibo{
    list-style: none;
    display: inline;
    margin: -463px 149px;
    float: right;
}
.Content_center_weibo_num{
    display: block;
    font-weight: bold;
    line-height: 18px;
    width: 65px;
    margin: 0 6px;
    overflow: hidden;
    font-size: 18px;
    color: #393929;
}
.Content_center_weibo_hanzi{
    color: #808080;
    margin: 0 4px;
}
.Content_center_backround_hanzi{
    list-style: none;
    display: inline-flex;
    text-decoration: none;
    height: 30px;
    width: 60px;
    background-color: #FFF;

}
.index_head .logo_img{
    margin-left: 50px;
    background: url("http://img.t.sinajs.cn/t6/style/images/global_nav/WB_logo.png?id=1404211047727") no-repeat 15px 40%;
    height: 48px;
    width: 140px;
    display: block;
    cursor: pointer;
    float: left;
}
.index_head .index_seek{
    width: 468px;
    border: solid 1px #CCCCCC;
    float: left;
    position: relative;
    height: 29px;
    margin: 9px 0 0 0;
    background-color: #f1f1f1;
}
.index_head .index_seek *{
    position: absolute;
    top: 0;
    left: 0;
    width: 245px;
    padding: 4px 33px 4px 10px;
    height: 20px;
    line-height: 20px;
    box-shadow: none;
    border: none;
    background-color: transparent;
    color: #808080;
    outline-style: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.index_head .index_seek a{
    position: absolute;
    top: 6px;
    left: 65%;
}
.index_head .Navigation{
    float: right;
    /*position: absolute;*/
    right: 50px;
    line-height: 48px;
    display: inline-flex;
    list-style: none;
    margin: 0;
    font-size: 14px;
}
.index_head .Navigation a{
    text-decoration: none;
    color: #4B4B4B;
}
.index_head .Navigation a:hover{
    color: #F97C39;
}
.index_head .title_interval{
    margin-right: 30px;
}
.index_head .Seek_img{
    width: 18px;
    height: 23px;
    padding: 0;
    cursor: pointer;
    background: url("/Static/img/icon_out.png") -55px -172px;
    left: 443px !important;
}
.index_head .Seek_img:hover{
    background: url("/Static/img/icon_out.png") -85px -172px;
}
.index_head .title_interval:hover{
    color: #CCCCCC;
}
.index_head .Login_Regist{
    font-weight: normal;
}
.index_head .Login_Regist span:hover{
    color: #F97C39;
}
.bottom_tools {
    position: fixed;
    z-index: 1070;
    right: 119px;
    bottom: 60px;
    display: block;
    width: 55px;
    height: 55px;
}
.bottom_tools a {
    display: none;
    width: 40px;
    height: 40px;
    background: url('/Static/img/top.jpg') no-repeat left top;
}
.Content{
    width: 1000px;
    background-color: rgba(36, 61, 89, 0.09);
    margin: auto auto;
    /*padding-top: 15px;*/
}
.Content .Content_left{
    position: fixed;
    margin-top: 15px;
    float: left;
    width: 150px;
    height: 780px;
    /*background-color: rgba(169, 176, 191, 0.64);*/
}   /*!!!*/
.Content .Content_left a:hover{
 background-color: rgba(255,255,255,0.2);
}
.Content .Left_Navigation{
    float: right;
    position: relative;
    line-height: 43px;
    list-style: none;
    margin: 0;
    font-size: 16px;

}
.Left_Navigation_top{
    font-weight: bold
}
.Font_Correction_h{
line-height: 34px;
    font-size: 12px;
}
.Font_Correction_h em{

}
.Content .Left_Navigation li a {
    text-decoration: none;
    color: #FFFFFF;
    width: 150px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
}
.Content .Left_Navigation .active{
    /*background-color: rgba(255,255,255,0.2);*/
    height: 45px;
    width: 150px;
    font-weight: bold;
}
.Content .Left_Navigation  a span {
    margin-left: 30px;
}
.Content .Left_Navigation  a .Font_Correction{
    font-style: normal;
    font-size: 14px;
    /*font-weight: bold;*/
    /*padding: 0 0 0 15px;*/
    /*height: 34px;*/
    line-height: 34px;
}
/*.Font_Correction_hr{*/
    /*border-color: black;*/
    /*border: 0.1px;*/
/*}*/
/*.Font_Correction_h{*/
    /*font-size: 12px;*/
/*}*/
.Content .Left_Navigation  a .Font_Hot{
    margin: 10px 8px 0 9px;
    background: #ed741c;
    border-radius: 3px;
    color: #fff;
    padding: 1px 2px;
    font-size: 12px;
    font-style: normal;
}
#emotions{
    width: 395px;
    -webkit-box-shadow: 0 -3px 4px rgba(0,0,0,0.1);
    font-size: 12px;
    background: #fff;
    position: absolute;
    border: 1px solid #E8E8E8;
}

.expression{vertical-align: -6px;}

.Content .Content_Center{
    margin-top: 15px;
    margin-left: 150px;
    float: left;
    width: 600px;
    /*height: 480px;*/
    background-color: rgba(191, 93, 49, 0.64);
}  /*!!!*/

.Content .Content_Center_ul{
    /*overflow: hidden;*/
    float: left;
    padding: 0;
    width: 602px;
    /*height: 3018px;*/
    margin: 15px 0 0 150px;
}
.Content_center_input{
    background-color: white;
    height: 150px;
    width: 582px;
    border-radius: 3px;
    padding: 20px 9px;
    margin-bottom: 10px;
}
.Content_center_input_zi_R{
    font-family: "WBswficon"!important;
    font-size: 18px!important;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    color: #1b7fb6;
}
.Content_center_input_biaoq:hover .option_wb{
    color: #eb7350;
}
.Content_center_input_img:hover .option_wb{
    color: #eb7350;
}
.Content_center_input_video:hover .option_wb{
    color: #eb7350;
}
.Content_center_input_ht:hover .option_wb{
    color: #eb7350;
}
.Content_center_input_tt:hover .option_wb{
    color: #eb7350;
}
.Content_center_input_zi_L{
    display: inline;
    color: #eb7350
}
.Content_center_input_bq{
    float: left;
    cursor: pointer;
    /*width: 380px;*/
    /*padding: 5px 0 0;*/
    letter-spacing: normal;
    font-size: 12px;
    margin: 11px 9px;
    /*word-spacing: 43px;*/
    color: #5c5454;
}
.Content_center_input_index{
    word-wrap: break-word;
    width: 570px;
    height: 89px;
    border-color: #dddddd;
    resize:none;
    margin: 0 7px;
    font-size: 16px;
    line-height: 18px;
}
.spac1{
      font-style: normal;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    height: 21px;
    letter-spacing: -3px;

}
.Content .Content_Center_li{
    padding: 20px 20px;
    margin-bottom: 10px;
    width: 560px;
    height: 70px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    list-style-type: none;
    /*box-shadow: 0 0 2px rgba(0,0,0,0.15);*/
}
.Content .Content_Center_li_img{
    padding: 20px 20px 16px 20px;
    margin-bottom: 10px;
    width: 560px;
    /*height: 181px;*/
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    /*box-shadow: 0 0 2px rgba(0,0,0,0.15);*/
}
.Content_center_input_fb{
    float: right;
    cursor: pointer;
    margin: 13px 8px;
    color: #5c5454;
}
.Content_center_input_fb:hover{
    color: #ff8140;
}
.W_btn_a {
    margin-top: 6px;
    background: #ff8140;
    padding: 5px 29px 0 29px;
    border-radius: 2px;
    line-height: 30px;
    font-size: 12px;
    border: 0;
    min-width: 40px;
    text-align: center;
    float: right;
}
.Content .Content_Center_TXT{
    height: 70px;
    width: 560px;
    /*background-color: #F97C39;*/
    position: absolute;
    top: 20px;
}
.Content .Content_Center_TXT_img{
    max-height: 181px;
    width: 560px;
    /*background-color: #F97C39;*/
    /*position: absolute;*/
    top: 20px;
}
.Content .Content_Center_TXT_img .Userinfo_img{
    height: 20px;
    /*background-color: darkslategray;*/
    line-height: 20px;
    margin-top: 10px;
}
.Content .Content_Center_TXT_img .Userinfo_img span em{
    font-style: normal;
    font-size: 12px;
    margin-right: 3px;
}
.Content .Content_Center_TXT_img .Picture_zone{
    height: 122px;
    width: 560px;
    /*background-color: #f98099;*/
    /*position: absolute;*/
    /*top: 20px;*/
}
.Content .Content_Center_TXT_img .Picture_zone ul{
    list-style: none;
    margin: 6px -4px 10px -4px;
    overflow: hidden;
    padding: 0;
}
.Content .Content_Center_TXT_img .Picture_zone ul li{
    position: relative;
    width: 184px;
    height: 122px;
    float: left;
    margin-left: 4px;
    overflow: hidden;
}
.Content .Content_Center_TXT_img .Picture_zone ul li .piccut_h{
    min-width: auto;
    height: auto;
    width: 184px;
    min-height: 122px;
}
.Content .Content_Center_TXT_img .Picture_zone ul li .piccut_v{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: perspective(1px) translate(-50%,-50%);
}
.Content .Content_Center_TXT_img .Text_info{
    line-height: 23px;
    max-height: 46px;
    _height: 46px;
    overflow: hidden;
    /*background-color: aqua;*/
    font-size: 14px;
}



.Content .Content_Center_TXT .Text_left{
    width: 106px;
    height: 70px;
    float: left;
    background-color: antiquewhite;
}
.Content .Content_Center_TXT .Text_right{
    width: 454px;
    height: 70px;
    float: left;
    /*background-color: #324bfa;*/
}
.Content .Content_Center_TXT .Text_right .Coutent{
    max-height: 46px;
    width: 444px;
    height: 46px;
    overflow: hidden;
    /*background-color: cornsilk;*/
    margin-left: 10px;
}
.Content .Content_Center_TXT .Text_right .Content_Userinfo{
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
    margin-right: -8px;
    margin-top: 4px;
    /*background-color: darkblue;*/
}
.Txt_operation_z{
    float: right;
}
.Txt_operation_p{
    float: right;
}
.Txt_operation_zf{
    float: right;
}
.Content .Content_Center_TXT .Text_right .Content_Userinfo em{
    font-style: normal;
    font-size: 12px;
    /*background-color: darkblue;*/
}
.Content_Center_ul a{
    text-decoration: none;
    color: #eb7350;
}


.Content .Content_Center .Multiple_Content{
    height: 245px;
    background-color: #FFF;
    padding: 20px 20px;
    margin-bottom: 10px;
}
#picuter_one_s1 ul{
    list-style: none;
    width: 400px;
    height: 100px;
    overflow: hidden;
    padding: 0;
}
#picuter_one_s1 ul li .picter_size{
    font-size: 14px;
    font-weight: bold;
}
#picuter_one_s1 ul li{
    width: 189px;
    height: 39px;
    border-color: #f2f2f5;
    color: #333;
    cursor: pointer;
    float: left;
    margin: -1px 0 0 -1px;
    text-align: center;
    padding: 5px;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
}
#picuter_one_s1 ul li:hover{
    background-color: #f2f2f5;
    color: #eb7350;
}

.Content_input_right_top_all_SLQ{
    float: left;
    /*border-radius: 3px;*/
    background: url(/Static/img/068_s.jpg)no-repeat;
    background-color: white;
    width: 230px;
    height: 179px;
    margin: 15px 0 0 10px;
    /*z-index: 1;*/

}
.Content_center_right_top_img{
    float: left;
    /* z-index: 2; */
    width: 65px;
    height: 65px;
    margin: 37px 83px;
    /*background-image: url('');*/
    border-radius: 50%;
    background-repeat: round;
    background-position: center center;
    position: absolute
}
.hide{
    display: none;
}
.Content_center_vip_lv_name{
    margin: 105px 35px 0 35px;
    position: relative;
    list-style: none;
    display: inline-flex;
    float: left;
}
.Content_center_guanzhu_fans_weibo{
     float: left;
    width: 60px;
    height: 60px;
    margin: 37px 83px;
}
.Content_center_right_name {
    text-decoration: none;
    float: right;
    display: inline-flex;
    overflow: hidden;
    font-size: 14px;
    position: relative;
    font-weight: bold;
    color: #333;
    max-width: 160px;
    height: 20px;
}
.Content_center_vip_lv_name a:hover{
    color: #fa7e3d;
}
.Content_center_right_vip{
    background: url(/Static/img/icon_out.png);
    width: 17px;
    display: inline-block;
    height: 16px;
    background-position: 152px 126px;
    z-index: 21;
    border: 0;
}
.Content_center_right_lv{
    background-color: #fa7e3d;
    color: #fff;
    padding: 0 5px 0 5px;
    border-radius: 50px;
    font-size: 1px;
    line-height: 10px;
}
.Content_center_right_dongtai_SLQ{

    color: #808080;
    display: flex;
    margin: -6px -6px;
}
.Content_center_right_dongtai_SLQ li{
    list-style: none;
}
.Content_center_right_dongtai_SLQ_num{
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #333;
    text-decoration: none;
    /* min-width: 30px; */
    /* margin: 0px auto; */
    padding-left: -9px;
    display: block;
    text-align: center;
}
.Content_center_right_dongtai_SLQ_num:hover{
    color: #fa7e3d;
}
.Content_center_right_dongtai_SLQ_wenzi{
    font-size: 14px;
    width: 30px;
}
