.index_center_img_SLQ {
    background-color: #fff;
    border: 1px solid silver;
    width: 588px;
    padding: 10px 0 10px 10px;
    max-height: 537px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.index_center_touxiang_SLQ{
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.index_center_img_ul_SLQ{
        list-style: none;
}
.index_center_readme_zhuanfa_SLQ{
    margin: 46px 71px 1px 71px;
    position: absolute;
}
.index_center_img_wen{
    display: inline;
}
.inde_center_video_SLQ{
    height: 367px;
    margin: 96px -7px;
}
.search_new_text_SLQ{
    background-color: #fff8bf;
    /* border: 1px black solid; */
    display: block;
    height: 30px;
    width: 600px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: #eb7350;
    text-decoration: none;
}

.index_center_img_ul_zhuanfa_SLQ {
    display: inline;
    list-style: none;
}
.index_center_img_li_SLQ{
    text-align: -webkit-match-parent;
    display: inline-block;
     margin: 57px 6px 1px 6px;
}
.index_center_img_name_zhuanfa_SLQ{
    display: inline-block;
    margin: 17px 20px;
    /* padding-top: 72px; */
    color: #333;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.index_center_zhuanfa_SLQ
    {
    /* display: inline; */
    margin: -118px 57px;
    padding: 0;
    text-align: -webkit-match-parent;
}

.index_center_img_V_zhuanfa_SLQ{
    background: url(/Static/img/icon.png);
    display: block;
    width: 20px;
    height: 25px;
    background-position: 0 -41px;
    margin: 39px 122px;
}
.index_center_img_vip_zhuanfa_SLQ{
    background: url(/static/img/test_img/icon.png);
    display: block;
    width: 20px;
    height: 25px;
    background-position: -23px -91px;
    margin: -64px 137px;
}
.index_center_img_lvxing_zhuanfa_SLQ{
    background: url(/static/img/test_img/icon.png);
    display: block;
    width: 20px;
    height: 25px;
    background-position: -75px -116px;
    margin: 39px 159px;
}

.index_center_img_name_SLQ{
    display: block;
    margin: -61px 20px;
    /* padding-top: 72px; */
    color: #333;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.index_center_img_vip_SLQ{
    background: url(/Static/img/icon.png);
    display: block;
    width: 20px;
    height: 25px;
    background-position: -22px -91px;
    margin: -64px 137px;
}

.index_center_img_V_SLQ{
    background: url(/Static/img/icon.png);
    display: block;
    width: 20px;
    height: 25px;
    background-position: 0 -41px;
    margin: 38px 123px;
}

.index_center_img_vip_SLQ{
    background: url(/Static/img/icon.png);
    display: block;
    width: 20px;
    height: 25px;
    background-position: -22px -91px;
    margin: -64px 137px;
}

.index_center_img_lvxing_SLQ{
    background: url(/Static/img/icon.png);
    display: block;
    width: 20px;
    height: 25px;
    background-position: -75px -116px;
    margin: 39px 159px;
}

.index_center_img_time_from_SLQ {
    color: #808080;
    text-decoration: none;
    font-size: 12px;
    margin: -38px 60px;
}

.index_center_img_time_SLQ:hover{
    color:#eb7350;
}

.index_cener_img_from_add_SLQ:hover{
    color:#eb7350;
}

.index_center_img_readme_SLQ{
    font-size: 14px;
    display: block;
    /*margin: 105px 60px;*/
    margin: -13px 60px 20px 60px;
    color: #333;
}

.index_img_SLQ img{
    width: 110px;
    height: 110px;
}

.index_img_SLQ{
    width: 338px;
    max-height: 338px;
    /*background: red;*/
    padding: 4px 0 0 4px;
}

.index_img_iii_SLQ {
    /* background-color: rgba(192, 192, 192, 1); */
    /* border: 1px solid silver; */
    /* max-height: 600px; */
    /* width: 602px; */
    display: inline-flex;
    /* width: 100%; */
    /* height: auto; */
    margin: -17px 0 0 0;
    padding: 1px 59px;
}
