<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/Static/css/test.css">
</head>
<body>
    <div class="index_center_img_SLQ">
        <img href="" class="index_center_touxiang_SLQ"
                     src="/Static/img/test_img/005KvRRWjw8ezywugsozbj30a10873zw.jpg"/>
        <ul class="index_center_img_ul_SLQ">
            <li><a href="" class="index_center_img_name_SLQ">全球搞笑趣事集</a></li>
            <li>
                <a class="index_center_img_V_SLQ"></a>
                <a class="index_center_img_vip_SLQ"></a>
                <a class="index_center_img_lvxing_SLQ"></a>
            </li>
        </ul>
        <div class="index_center_img_time_from_SLQ">
            <span class="index_center_img_time_SLQ">今天 15:21 </span>
            <span class="index_cener_img_from_SLQ">来自</span>
            <span class="index_cener_img_from_add_SLQ">搞笑达人</span>
        </div>
        <div class="index_center_img_wen">
            <span class="index_center_img_readme_SLQ">~~~~[心] ~~~~
                    你可以忽略我的感受 也可以肆意挥霍我的热情 甚至不理会于我的沮丧难过
                    可是有一点你必须得明白 每个人能付出的爱都是有限的 无论是对朋友还是爱
                    如果你让我感觉到力不从心了 迟早有一天我会离开你 那就再也回不来了</span>
        </div>
        <div class="index_img_iii_SLQ">
            <div class="index_img_SLQ" id="pt">
                <a href="#" target="_blank"> <img src="/Static/img/hulu/172130a.jpg"></a>
                <a href="#" target="_blank"> <img src="/Static/img/hulu/314865b.jpg"></a>
                <a href="#" target="_blank"> <img src="/Static/img/hulu/314866c.jpg"></a>
                <a href="#" target="_blank"> <img src="/Static/img/hulu/314867d.jpg"></a>
                <a href="#" target="_blank"> <img src="/Static/img/hulu/314868e.jpg"></a>
                <a href="#" target="_blank"> <img src="/Static/img/hulu/314870f.jpg"></a>
                <a href="#" target="_blank"> <img src="/Static/img/hulu/314871g.jpg"></a>
            </div>

        </div>
    </div>
</body>
</html>