<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/Static/css/video.css">
</head>
<body>
    <div class="index_center_img_SLQ" style="position: relative">
        <img href="" class="index_center_touxiang_SLQ"
                     src="/Static/img/test_img/005KvRRWjw8ezywugsozbj30a10873zw.jpg"/>
        <ul class="index_center_img_ul_SLQ">
            <li><a href="" class="index_center_img_name_SLQ">全球搞笑趣事集</a></li>
            <li>
                <a class="index_center_img_V_SLQ"></a>
                <a class="index_center_img_vip_SLQ"></a>
                <a class="index_center_img_lvxing_SLQ"></a>
            </li>
        </ul>
        <div class="index_center_img_time_from_SLQ">
            <span class="index_center_img_time_SLQ">今天 15:21 </span>
            <span class="index_cener_img_from_SLQ">来自</span>
            <span class="index_cener_img_from_add_SLQ">搞笑达人</span>
        </div>
        <span class="index_center_readme_zhuanfa_SLQ" style="position: absolute">
            妖怪，还我爷爷！！！
        </span>
        <div class="index_center_img_wen">
             <video src="/Static/video/Wildlife.mp4"
                    class="inde_center_video_SLQ"
                    height="367"
                   style=" margin: 96px -7px;"
                    controls
             ></video>
        </div>
    </div>
</body>
</html>